<!DOCTYPE html>
<html lang="en">

<head>
{% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Market Snitch - A Market Research Tool for the Philippine Government Procurement Services</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "kdatahack/home/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "kdatahack/home/css/agency.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href= "{% static "kdatahack/home/font-awesome-4.1.0/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Market Snitch</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Our Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">The Department of Silly Walks is proud to present</div>
                <div class="intro-heading">Market Snitch</div>
                <a href={% url "research" %} class="page-scroll btn btn-xl">Try it now!</a>
            </div>
        </div>
    </header>

       <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Stop Overbudgeting! Use Market Snitch! :)
                    </h3>
                <div>
                <div class="col-md-12">
                    <p class="text-muted">Market Snitch is a Market Research tool designed to help facilitate the creation of accurate budget estimates based on current market prices.</p>
                    <p class="text-muted">It's main goal is to help erradicate or minimize overbudgeting for government procurement projects.</p>
                </div>
            </div>
        </div>
    </section>

        <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div> 
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Market Price Comparison</h4>
                    <p class="text-muted">Price Comparison against current market data </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Historical Price Comparison</h4>
                    <p class="text-muted">Price Comparison against historical price data gathered from previous awards</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">APIs</h4>
                    <p class="text-muted">APIs for Organization, Awards, Bidders List, Bid Line Item and Bid Information that is periodically fetched from PhilGEPS Public Data</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
<!--                     <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static "kdatahack/home/img/team/ray.jpg" %}" class="img-responsive img-circle" alt="">
                        <h4>Ray Dino</h4>
                        <p class="text-muted">Software Engineer @ Save22. Aspires to make great things.</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/theraydino"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="http://ph.linkedin.com/pub/ray-anthony-dino/28/762/b82"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static "kdatahack/home/img/team/matt.jpg" %}" class="img-responsive img-circle" alt="">
                        <h4>Matt Lebrun</h4>
                        <p class="text-muted">Django/Python craftsman at Save22 and Advocate of PythonPH</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/cr8ivecodesmith"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="http://ph.linkedin.com/in/cr8ivecodesmith"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static "kdatahack/home/img/team/mickey.jpg" %}" class="img-responsive img-circle" alt="">
                        <h4>Micaela Reyes</h4>
                        <p class="text-muted">Software Engineer at Freelancer.com. Lover of Open Source and all things Python</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/codemickeycode"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="http://ph.linkedin.com/in/codemickeycode/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Team SillyWalk 2014</span>
                </div>
                <div class="col-md-4">
<!--                     <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul> -->
                </div>
                <div class="col-md-4">
<!--                     <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static "kdatahack/home/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "kdatahack/home/js/bootstrap.min.js" %}></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static "kdatahack/home/js/classie.js" %}"></script>
    <script src="{% static "kdatahack/home/js/cbpAnimatedHeader.js" %}"></script>

    <!-- Contact Form JavaScript -->
<!-- <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="{% static "kdatahack/home/js/agency.js" %}"></script>

</body>

</html>
