<div id="research-list-add-item-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add new item to your research</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="overflow-x: auto;">
                    <div class"col-xs-12">
                        <table id="research-masteritem-dt-modal" class="table table-stripped">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Item</th>
                                    <th>Description</th>
                                    <th>UOM</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                    class="btn btn-default"
                    data-dismiss="modal">Close</button>
                <button type="button"
                    class="btn
                    btn-primary">Add</button>
            </div>
        </div><!--/.modal-content-->
    </div><!--/.modal-dialog-->
</div><!--/.modal-->
