{% extends 'base.html' %}

{% block main %}
<div class="row">
    <div class="col-xs-12">
        <button
            class="btn btn-primary btn-lg"
            data-toggle="modal"
            data-target="#research-list-add-item-modal"
        >Add item</button>
    </div>
</div>
<div class="row" style="overflow-x: auto;">
    <div class="col-xs-12">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Item</th>
                    <th>Description</th>
                    <th>UOM</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="research-list-table"></tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <label>Grand Total: </label><span id="research-total-price"></span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button
            id="research-btn-clear-items"
            class="btn btn-lg"
        >Clear items</button>
        <button
            id="research-btn-update-price"
            class="btn btn-primary btn-lg"
        >Update price</button>
        <!--
        <button
            id="research-btn-download-list"
            class="btn btn-primary btn-lg"
        >Download</button>
        -->
        <a
            href="/report"
            id="research-btn-download-list"
            class="btn btn-primary btn-lg"
        >Download</a>
    </div>
</div>
{% include 'dashboard/research_list_modal.html' %}
{% endblock %}
